
<div class="controle">
  <div class="pesquisa">
    <input type="text" autofocus placeholder="PESQUISA">
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
</div>
  <div class="content">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"> # </th>
          <th scope="col"> ITEM </th>
          <th scope="col"> UNIDADE DE MEDIDA </th>
          <th scope="col"> PREÇO (R$) </th>
          <th scope="col"> CATEGORIA </th>
          <th scope="col"> ADICIONAR </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Coca Cola 2L</td>
          <td>Litro</td>
          <td>6.0</td>
          <td>Bebidas</td>
          <td><button id="adicionar" title="Adicionar ao Carrinho" class="btn btn-outline-success" type="button">Adicionar ao Carrinho  <i class="fa-solid fa-cart-plus fa-lg"></i></button></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Coca Cola 500ml</td>
          <td>Litro</td>
          <td>3.80</td>
          <td>Bebidas</td>
          <td><button id="adicionar" title="Adicionar ao Carrinho" class="btn btn-outline-success" type="button">Adicionar ao Carrinho  <i class="fa-solid fa-cart-plus fa-lg"></i></button></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Bolacha Cream Cracker 500mg</td>
          <td>Grama</td>
          <td>7.90</td>
          <td>Comidas</td>
          <td><button id="adicionar" title="Adicionar ao Carrinho" class="btn btn-outline-success" type="button">Adicionar ao Carrinho  <i class="fa-solid fa-cart-plus fa-lg"></i></button></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Batata Palha 500gm</td>
          <td>Grama</td>
          <td>7.50</td>
          <td>Comidas</td>
          <td><button id="adicionar" title="Adicionar ao Carrinho" class="btn btn-outline-success" type="button">Adicionar ao Carrinho  <i class="fa-solid fa-cart-plus fa-lg"></i></button></td>
        </tr>
      </tbody>
    </table>
</div>

