$backgroundColor: #e4e4e4;
$textColor: black;
$bootstrapInfoColor: 	#0DCAF0;
$bootstrapDangerColor: #DC3545;

.controle{
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px;

  a{
    color: $textColor;
  }

  .pesquisa{
    input{
      text-align: center;
      border-bottom: 2px solid black;
      border-right: 2px solid black;
      border-radius: 5px;

    }
    i{
      margin: 10px;
    }
  }
}


.content{
  display: flex;
  width: 100%;
  height: fit-content;

  padding: 15px;

  border-radius: 5px;
  background-color: $backgroundColor;

  table{
    text-align: center;
    font-family: sans-serif;
  }

  button{
    font-size: small;
    width: 90px;
    height: 30px;
    color: $textColor;
  }


  #editar{
    margin-right: -90px;

    #editarIcone{
      color: 	$bootstrapInfoColor;
    }

    &:hover{
      color: white;
      transition: 0.1s ease-in;
      #editarIcone{
        color: 	white;
        transition: 0.1s ease-in;
      }
    }

  }

  #deletar{
    margin-left: -90px;

    #deletarIcone{
      color: $bootstrapDangerColor;
    }

    &:hover{
      color: white;
      transition: 0.1s ease-in;
      #deletarIcone{
        color: white;
        transition: 0.1s ease-in;
      }
    }
  }
}



