<div class="container-fluid">
  <div class="content">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"> # </th>
          <th scope="col"> CATEGORIAS </th>
          <th></th>
          <th></th>
          <th scope="col"> AÇÃO </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Bebidas</td>
          <td></td>
          <td></td>
          <td><button id="delete" title="Deletar Categoria" class="btn btn-outline-danger" type="submit" type="button" >Deletar</button></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Comidas</td>
          <td></td>
          <td></td>
          <td><button id="delete" title="Deletar Categoria" class="btn btn-outline-danger" type="submit" type="button" >Deletar</button></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Material de Limpeza</td>
          <td></td>
          <td></td>
          <td><button id="delete" title="Deletar Categoria" class="btn btn-outline-danger" type="submit" type="button" >Deletar</button></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Carnes</td>
          <td></td>
          <td></td>
          <td><button id="delete" title="Deletar Categoria" class="btn btn-outline-danger" type="submit" type="button" >Deletar</button></td>
        </tr>
      </tbody>
    </table>
</div>

</div>
